@use './vars.scss';

* {
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.4s ease;
  }
}

body {
  font-family: 'Manrope', sans-serif !important;

  main {
    overflow-x: hidden;
  }
}

.object-fit-contain {
  object-fit: contain;
}

.icon-base {
  object-fit: contain;
  width: 20px;
}

.no-scrollbars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.logo {
  width: 20px;
  object-fit: contain;
}

.hover-item > li:hover {
  background-color: #00798c;
}

.active-item {
  position: relative;
  border-bottom: 1px #00d1f2 solid;
  margin-top: 1px;
}

.pointer-none {
  pointer-events: none !important;
}

.no-select {
  user-select: none !important;
}

.list-dashed {
  list-style-type: ' - ' !important;
}

.rounded-3 {
  border-radius: 12px !important;
}

.form-check-input:checked {
  background-color: #ff661c !important;
  border-color: #ff661c !important;
}
